.App {
  font-family: sans-serif;
  line-height: 1.6;
  margin: 20px;
}

.App-header {
  background-color: #f4f4f4;
  color: rgb(0, 0, 0);
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 8px solid rgb(255, 186, 59);
  min-height: 120px;
  font-family: 'Calibri', sans-serif;
}

.header-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-size: 32px;
  font-weight: normal;
  margin-top: -5px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  font-size: 16px;
  line-height: 1.2;
}

.contact-info a {
  color: inherit;
  text-decoration: none;
}

.section {
  display: block;
  padding: 10px 20px;
  background-color: white;
  border-bottom: 1px solid black;
  font-size: 16px;
}

.section:last-of-type {
  border-bottom: none;
}

.section-content {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.section-title {
  width: 25%;
}

.section-description {
  width: 75%;
}

.section h2 {
  margin-bottom: 10px;
}

.job-entry {
  margin-bottom: 10px;
}

.job-entry h3 {
  margin-bottom: 0.3rem;
}

.education-entry {
  margin-bottom: 20px;
}

.education-entry h3 {
  margin-bottom: 5px;
}

.skill-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skill-row {
  display: flex;
  gap: 10px;
}

.skill-list p {
  width: 32%;
  margin: 0;
}

.email-link { 
  color: blue !important;
  text-decoration: underline;
}
